<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/cats/new" method="POST">
      Name: <input type="text" name="name"><br/>
      Country: <input type="text" name="country"><br/>
      Coat: <input type="text" name="coat"><br/>
      Pattern: <input type="text" name="pattern"><br/>
      Image: <input type="text" name="img"><br/> 
      <input type="submit">
    </form>
  </body>
</html>
